$color-white:    #fff;
$color-black:    #000;
$color-offwhite: #f0f0f0;
$color-green: #94e35b;
$color-dark-green: #6dc82c;
$color-dark-grey: #484848;
$color-grey: #626262;
$color-light-grey: #8e8e8e;
$color-blue: #346c80;
$color-light-blue: #f0f3f7;
$font-bold: 'sf_ui_displaysemibold';
$font-medium: 'sf_ui_displaymedium';
$font-light: 'sf_ui_displaylight';
$font-regular: 'sf_ui_displayregular';
$default-text-color: #717171;
$small-font-size: 12px;
$medium-font-size: 18px;
$big-font-size: 25px;
$padding-vertical:10px;
$padding-horizontal:18px;
$line-height: 10px;
$border-radius: 3px;
$default-blue: #2a8caf;
$default-blue-hover:#247997;
$menu-border-color: #f3f5f7;
$menu-color: #949595;
$profile-width:42px;
$profile-display:table-cell;
$profile-vertical-align:middle;
$profile-line-height:0;
$profile-details-width:100%;
$profile-details-padding-left:15px;
$heading-color-black: #232323;
$no-letterspacing: 0;
$no-margin:0;
$no-padding:0;
$no-line-height:0;
$big-padding-vertical: 18px;
$full-width: 100%;
$container-medium-width:900px; 
$no-list-styling: none;
$lightred:#f46f4d;
$border-color-grey: #d7e7ec;
$border-color-light-grey: #e2e7ec;
$border-color-darkgrey: #cdcdcd;
$no-border: none;
$no-boxshadow: none;
$placeholder-color: #9d9d9d;
$submit-padding-vertical:18px;
$submit-padding-horizontal:25px;
$submit-line-height: 12px;
$float-right: right;
$font-weight-light: 100;
$no-background-image:none;
$none:0;


