<div class="lp footer-inner" >
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 logo-hold ">
                    <a ui-sref="login" ><img src="/app/images/logo.png" alt="" /><span class="logo-text">Happystry</span></a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 right-align" style="display: inline-block; margin: 5px 0;">
                    <a class="google-play-btn black-btn andr-img-hold"  href="https://play.google.com/store/apps/details?id=com.happy.happystry">
                        <span class="andr-img"></span>
                        <p>
                            Android
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <section class="margin-t-75 ">
        <div class="col-org">
            <div class="container">
                <div class="abt-topsec">
                    <h1>About</h1>
                    <div class="small-line"></div>
                    <h3>Happystry is a platform for broadcasting happy deeds and responsible products.</h3>
                    <p>We aspire to create a community (individuals, small entrepreneurs, corporates, social enterprises) that works towards a happier world. Happystry, we believe, is a step in this direction. Users can post content about the wonderful happy deeds they have been part of. Entrepreneurs can also showcase, sell, update their product listings across categories. </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="abt-img-sec">

                <img src="/app/images/about-image.png" alt="" />

            </div>
        </div>
        <div class="abt-contsec">
            <!--<div class="container">-->
                <h4>Some of the ways you can contribute towards building this community include</h4>
                <ul class="clearfix">
                    <li><span style="background-color: #7accc8">1</span>Signing up as a user to broadcast engaging content on various issues that you are passionate about.</li>
                    <li><span style="background-color: #8393ca">2</span>Enlisting as a vendor to showcase and sell your socially responsible products.</li>
                    <li><span style="background-color: #7cc576">3</span>Registering your company and broadcasting your CSR activities.</li>
                    <li><span style="background-color: #fbaf5d">4</span>Enlisting your social enterprise to showcase great work on a social issue.</li>
                </ul>
            <!--</div>-->
        </div>
        <div class="text-center abt-last-sec">
            <h6>Through these interactions, we strive to create a happier connected world. Entrepreneurs can showcase their products to individuals and corporates. </h6>
            <h6 class="margin-b-30">    Similarly, we enable corporates and social enterprises to reach out to a larger community. </h6>
            <figure class="text-center">
                <img src="/app/images/dlite.png" alt="" />
            </figure>
            <h6>These interactions and activities on the platform generate a currency "Dlites", </h6>
            <h6 class="margin-b-30">which going forward can be used for transactions both within the platform, and outside through our partner ecosystem. </h6>

            <h5>Wait no longer, <a href="<?php echo APP_SOURCE ?>home/terms_condition">sign up</a> and,</h5>
            <h5 class="margin-b-50">  "Share your happy deeds, Buy sell happy treats"</h5>

        </div>


    </section>
    <section class="subscribe-section">
        <h2>Subscribe and stay informed</h2>
        <form  class="subs" novalidate>
            <input type="email" id="subscribe" class="subs-email" placeholder="Enter your email address" ng-model="email" />
            <input type="submit" ng-click="submitSub(email)" class="subs-submit"  />
            <span id="error_email" class="error"></span>  
        </form>
        <p class="download-text">Download the app. Share your smiley deeds.</p>
        <a class="google-play-btn black-btn andr-img-hold"  href="https://play.google.com/store/apps/details?id=com.happy.happystry">
            <span class="andr-img"></span>
            <p>
                Android
            </p>
        </a>
    </section>
    <footer class="">
        <div class="container">
            <ul class="quick-links">
                <li class=""><a href="#"  style="visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;"><img src="/app/images/happystry-logo.jpg" alt=""></a></li>
                <li><a ui-sref="login"  style="visibility: visible; animation-delay: 1000ms; animation-name: fadeInUp;">Home</a></li>
                <li class=""><a class="active" href="javascript:;" style="visibility: visible; animation-delay: 1100ms; animation-name: fadeInUp;">About Us</a></li>
                <li class=""><a href="https://happystry.wordpress.com/" target="_blank" style="visibility: visible; animation-delay: 1100ms; animation-name: fadeInUp;">Blog</a></li>
                <li class=""><a ui-sref="login.contact"  style="visibility: visible; animation-delay: 1200ms; animation-name: fadeInUp;">Contact Us</a></li>
                <li class=""><a  ui-sref="login.term"  style="visibility: visible; animation-delay: 1300ms; animation-name: fadeInUp;">Terms &amp; Condition</a></li>
                <li class=""><a  ui-sref="login.term" style="visibility: visible; animation-delay: 1400ms; animation-name: fadeInUp;">Privacy Policy</a></li>
            </ul>
            <ul class="social-links">
                <li class=""><a href="https://www.facebook.com/Happystry-1124403420991917/?fref=nf" target="_blank"><img src="/app/images/fs.png" alt="" /></a></li>
                <li class=""><a href="https://twitter.com/HappystryMedia" target="_blank"><img src="/app/images/ts.png" alt="" /></a></li>
                <li class=""><a href="https://in.pinterest.com/happystry/" target="_blank"><img src="/app/images/pt.png" alt="" /></a></li>
            </ul>
        </div>
    </footer>
    <div class="copy-right">
        <p>Copyright © Happystry</p>
    </div>
</div>
