<style type="text/css">
    .preloaderNew {
        background-color: #fff;
        background-image: url(/app/images/happystry.gif);
        background-repeat: no-repeat;
        background-position: center center;
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 4;
    }
</style>
<div class="margin-t-90" ng-cloak >
    <div  class="preloaderNew " ng-show="contentLoaded==false"></div>
<div    id="bookmarkWrap" ng-show="contentLoaded==true">
    <div class="page-title-holder">
        <h3 style="vertical-align: -webkit-baseline-middle;">Bookmarks</h3>
    </div>
    <!--<ul class="dynamic-grid grid" angular-grid="getBookmarkData" ag-grid-width="240" ag-gutter-size="5" ag-id="postData" ag-infinite-scroll="loadMoreShots()">-->
    <ul class="dynamic-grid grid postfeeds_flex in_timeline">
        <li ng-repeat="item in getBookmarkData| unique: 'post_id' |  filter:{ user_report: 0}  track by $id($index)" class="posts wow " my-posts ></li>
    </ul>
    <div class="no-search-results" ng-show="getBookmarkData.length === 0">
        <span class="sprite no-search-icons"></span>
        <h4>No results found</h4>
    </div>
</div>
</div>