<style type="text/css">
    .preloaderNew {
        background-color: #fff;
        background-image: url(/app/images/happystry.gif);
        background-repeat: no-repeat;
        background-position: center center;
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
    }
</style>
<div class="margin-t-90" >

    <div  class="preloaderNew " ng-show="contentLoaded==false"></div>
    <div ng-if="searchurl" ng-cloak  ng-show="contentLoaded==true">
        <div class="page-title-holder ">
            <h3>Search results</h3>
            <div class="lists">
<!--
                <span ng-if="geoGlobal != ''"><a>Near me<span ng-click="removeNearMe()" class="sprite small-close-icon"></span></a></span>
-->
                <span><a ui-sref="timeline.post" ui-sref-opts="{reload: true}">{{tag || collection}}<span class="sprite small-close-icon"></span></a></span>
            </div>
        </div>
    </div>
    <div class="page-title-holder clearfix custom-height" ng-if="!searchurl " ng-cloak ng-show="contentLoaded==true">
        <div class="pull-left">
            <h3>Trending</h3>
            <div class="lists">
                <span ng-repeat="hash in getTrendingData">
                    <a ng-if="hash.trend_name.indexOf('#') != 0" ui-sref="timeline.post.search({tag:hash.tag_name})">#{{hash.tag_name}}</a>
                    <!--<a ng-href="/search/hashtag/{{hash.tag_name| lowercasenospace}}">#{{hash.tag_name}}</a>-->
                </span>
            </div>
        </div>
        <div class=" page-title">
            <!--        <h3>Collection</h3>-->
            <ul>
                <li ng-class="nearMe ? 'org-box' : 'wht-box'" class="nearMe" ng-click="getGeoFeeds(nearMe); nearMe = !nearMe"><span ng-class="nearMe ? 'orange-fill' : 'orange-nofill'"></span></li>
                <li class="main-menu on-clk">
                    <a href="" class="coll-btn" ng-click="fcClk($event)">Collections</a>
                    <div class="sub-menu fixed-width">
                        <div class="holder ">
                            <ul>
                                <li><div class="menu-arrow-top"></div></li>
                            </ul>
                            <!--<form action="javascript:;" ng-submit="Formsearch($event)" method="post">-->
                            <div class="search-holder">
                                <ul class="clearfix">
                                    <li ng-repeat="coll in getCollectionData track by $index">
                                        <!--<label for="" ng-click="searchClick($event);">-->
                                        <label for="">
                                            <a class="nopadding" ui-sref=".searchCollection({collection:coll.collectionname})" >
                                                <img src="{{coll.collection_img}}" alt="" />
                                                <div class="overlay col-overlay"></div>
                                                <!--<input type="checkbox" id="checkbox1" class="ickecked">-->
                                                <span>{{coll.collectionname}}</span>
                                            </a>
                                        </label>
                                    </li>
                                    <li>
                                        <label for="" >
                                            <a class="nopadding" ng-click="searchChash('Sale')">
                                                <img src="/app/images/forsale.png" alt="" />
                                                <div class="overlay col-overlay"></div>
                                                <!--<input type="checkbox" id="checkbox1" class="ickecked">-->
                                                <span>Shop</span>
                                            </a>
                                        </label>
                                    </li>
                                </ul>
                            </div>

                            <!--</form>-->
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div  ng-cloak class="clearfix" ng-show="contentLoaded==true">
        <div class="posts-holder" id="postFeeds">
            <ul class="dynamic-grid grid postfeeds_flex in_timeline hidden-lg hidden-md promobottom">
                <li ng-repeat="item in getPromotedData| unique: 'post_id' |  filter:{ user_report: 0} track by $id($index)" class="posts wow " my-posts  on-finish-render="ngRepeatFinished"></li>
            </ul>
            <ul class="dynamic-grid grid postfeeds_flex in_timeline">
                <li ng-repeat="item in getPostData| unique: 'post_id' |  filter:{ user_report: 0} track by $id($index)" class="posts wow " my-posts  on-finish-render="ngRepeatFinished"></li>
            </ul>
            <div class="loadmore-relative"></div>
            <div class="loader ng-hide" ng-show="loadmore===true && nomoreFeed===false ">
                <div id="loader">
                    <span></span>
                </div></div>
            <div class="no-search-results feeds-page" ng-show="nomoreFeed===true">
                <span class="sprite no-search-icons"></span>
                <h4>No Post feeds</h4>
            </div>
        </div>
        <div class="coll-holder">
            <ul class="collection-reward fixedscroll">
                <li class="posts" ng-if="getPromotedData != 0">
                    <h3 class="featured">Featured</h3>
                    <uib-carousel interval="5000"  active="active" >
                        <uib-slide ng-repeat="item in getPromotedData| unique: 'post_id' |  filter:{ user_report: 0}  track by $id($index)"  index="$index" on-finish-render="ngRepeatFinished">
                            <div my-posts></div>
                        </uib-slide>
                    </uib-carousel>
                </li>
            </ul>
        </div>
    </div>
</div>