<div class="margin-t-90" >
    <div ng-if="isBookmark" ng-cloak  id="bookmarkWrap">
        <div class="page-title-holder">
            <h3 style="vertical-align: -webkit-baseline-middle;">Bookmarks</h3>
        </div>
        <!--<ul class="dynamic-grid grid" angular-grid="getBookmarkData" ag-grid-width="240" ag-gutter-size="5" ag-id="postData" ag-infinite-scroll="loadMoreShots()">-->
        <ul class="dynamic-grid grid postfeeds_flex in_timeline">
            <li ng-repeat="item in getBookmarkData| unique: 'post_id' |  filter:{ user_report: 0}  track by $id($index)" class="posts wow " my-posts ></li>
        </ul>
        <!--        <div class="loader ng-hide" ng-show="bookLoaded">
                    <div id="loader">
                        <span></span>
                    </div></div>-->
        <div class="no-search-results" ng-show="getBookmarkData.length === 0">
            <span class="sprite no-search-icons"></span>
            <h4>No results found</h4>
        </div>
    </div>
    <div ng-if="!isDesc && searchurl" ng-cloak>
        <div class="page-title-holder ">
            <h3>Search results</h3>
            <div class="lists">
                <span ng-if="geoGlobal != ''"><a>Near me<span ng-click="removeNearMe()" class="sprite small-close-icon"></span></a></span>
                <span><a href="#/timeline">{{dd}}<span class="sprite small-close-icon"></span></a></span>
            </div>
        </div>
        <div id="searchCH" class="post-card-holder">
            <ul class="dynamic-grid grid margin-b-30 postfeeds_flex in_timeline" ag-id="postdata">
                <li ng-repeat="item in getPostData| unique: 'post_id' |  filter:{ user_report: 0}  track by $id($index)" class="posts wow " my-posts  ></li>
                <li ng-repeat="item in getPromotedData| unique: 'post_id' |  filter:{ user_report: 0}  track by $id($index)" class="posts wow " my-posts ng-show="item.user_report == 0" ></li>
            </ul>
            <div class="loadmore-relative"></div>
            <div class="loader ng-hide" ng-show="loadmore">
                <div id="loader">
                    <span></span>
                </div></div>
            <div class="no-search-results" ng-show="getPostData.length == 0 && getPromotedData.length == 0">
                <span class="sprite no-search-icons"></span>
                <h4>No results found</h4>
                <!--        <p>Your search did not match with any post. Refine your search criteria</p>
                        <a href="" class="btn-default">Search again</a>-->
            </div>
        </div>
    </div>

    <div ng-if="isDesc" ng-cloak>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding" >
            <ul class="tab-btns post-user-sec">
                <li>
                    <a ng-class="isPost ? 'active' : ''" ng-click="isPost = true; isUser = false; allPosts(ser_worddd)" class="cursor-pointer">Posts</a>
                </li>
                <li>
                    <a ng-class="isUser ? 'active' : ''" ng-click="isPost = false; isUser = true; allUsers(ser_worddd)" class="cursor-pointer">Users</a>
                </li>
            </ul>
            <div ng-cloak class="page-title-holder clearfix" ng-if="searchurl; isPost" id="searchPostUser">
                <div class="pull-left">
                    <h3>Search results</h3>
                </div>
                <div class="lists pull-left">
                    <span class="nomargin"><a ng-click="removeSelected(dd)" ng-if="dd != ''">{{dd}}<span class="sprite small-close-icon cursor-pointer"></span></a></span>
                    <span ng-show="threeFilter && !allFilter" class="threeFilter" ng-repeat="selected in ddmodel| limitTo: 3 track by $index" ng-if="selected != ''"><a ng-click="removeSelected(selected)">{{selected}}<span class="sprite small-close-icon cursor-pointer"></span></a></span>
                    <span class="cursor-pointer filter-more" ng-if="(ddmodel | removeEmptyString).length > 3"><a ng-click="filterMore($event)">{{(ddmodel| removeEmptyString).length - 3}}   more</a></span>
                    <span ng-show="allFilter && !threeFilter" class="allFilter" ng-repeat="selected in ddmodel track by $index" ng-if="selected != ''"><a ng-click="removeSelected(selected)">{{selected}}<span class="sprite small-close-icon cursor-pointer"></span></a></span>
                </div>
                <div class="page-title">
                    <ul>
                        <li class="main-menu on-clk">
                            <a class="filter-div coll-btn cursor-pointer" ng-click="fcClk($event)">Filter</a>
                            <div class="sub-menu filter-show filter-width filter-div-sec" ng-click="showSubmenu()">
                                <div class="holder ">
                                    <ul>
                                        <li><div class="menu-arrow-top"></div></li>
                                    </ul>
                                    <form action="javascript:;" ng-submit="Formsearch()">
                                        <div class="search-holder">
                                            <div class="clearfix">
                                                <div class="pull-left">
                                                    <div class="fieldholder">
                                                        <label>Location</label>
                                                        <input type="text" id="loc" class="form-control" ng-autocomplete="result" details="details" options="options" ng-model="location" />
                                                        <span class="gl" ng-click="getGeoLoc()"><img src="/app/images/location.png" alt="" /></span>
                                                    </div>
                                                </div>
                                                <div class="pull-right forSale">
                                                    <input type="checkbox" name="for-sale" id="isForsale" ng-model="check.accepted" icheck/>
                                                    <label for="for-sale">Shop</label>
                                                </div>
                                            </div>
                                            <div class="title">
                                                <h3>Collections</h3>
                                            </div>
                                            <ul class="clearfix fc list-align">
                                                <li ng-repeat="coll in getCollectionData| limitTo : 9">
                                                    <!--<label for="" ng-click="searchClick($event);">-->
                                                    <label for="" >
                                                        <a class="nopadding">
                                                            <div class="collection-box">
                                                                <img src="{{coll.collection_img}}" alt="" />
                                                                <div class="overlay col-overlay"></div>
                                                                <input type="checkbox" id="checkbox{{$index}}" ng-model="check.accepted" value="{{coll.collection_api_name}}" icheck>
                                                                <i style="display: none">{{coll.collection_api_name}}</i>
                                                                <span>{{coll.collectionname}}</span>
                                                            </div>
                                                        </a>
                                                    </label>
                                                </li>

                                            </ul>
                                        </div>
                                        <span class="error_collection"></span>

                                        <div class="btndiv left-align">
                                            <button class="white" type="reset" ng-click="cancelClkFlt($event)">Cancel</button>
                                            <button class="green" id="filterBtn" type="F">Apply</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-title-holder" ng-if="searchurl; isUser" ng-cloak>
                <h3>Search results</h3>
                <div class="lists">
                    <span><a  ng-click="removeSelected(dd)">{{dd}}<span class="sprite small-close-icon cursor-pointer"></span></a></span>
                </div>
            </div>
            <div ng-if="isPost" class="post-card-holder" ng-cloak id="suggPost">
                <!--<ul ng-show="getSuggPostData.length != 0" class="dynamic-grid grid" angular-grid-id="postdata" angular-grid="getSuggPostData" ag-grid-width="240" ag-gutter-size="5" ag-id="postData" scroll-container="'#suggPost'" ag-infinite-scroll="loadMoreShots()">-->
                <ul ng-show="getSuggPostData" class="dynamic-grid grid margin-b-30 postfeeds_flex in_timeline" ag-id="postData">
                    <!--<li ng-repeat="item in getPrefferedData" class="posts" my-posts ng-show="item.user_report == 0" ></li>-->
                    <li ng-repeat="item in getSuggPostData| unique: 'post_id' |  filter:{ user_report: 0}  track by $id($index)" class="posts wow " my-posts ng-show="item.user_report == 0" ></li>
                    <!--<li ng-repeat="item in getPromotedData" class="posts" my-posts ng-show="item.user_report == 0" ></li>-->
                </ul>
                <!--                <div class="loader ng-hide" ng-show="sealoadmore">
                                    <div id="loader">
                                        <span></span>
                                    </div></div>-->
                <div ng-show="!getSuggPostData" class="clearfix" style="position: relative; height: 50vh">
                    <div class="no-search-results ">
                        <span class="sprite no-search-icons"></span>
                        <h4>No results found</h4>
                        <!--                        <p>Your search did not match with any post. Refine your search criteria</p>
                                        <a href="" class="btn-default">Search again</a>-->
                    </div>
                </div>
            </div>
            <div ng-if="isUser">
                <ul class="userData" ng-if="getPostUserData.length !== 0" ng-cloak>
                    <li ng-repeat="item in getPostUserData" class="clearfix">
                        <div class="pull-left">
                            <div class="header-hold">
                                <div class="profile-holder">
                                    <a href="#/profile/{{item.user_id}}">
                                        <div class="progress-wrapper">
                                            <!--<div class="progress ng-cloak" ng-style="getStyle()">{{ lead.percentile}}%</div>-->
                                            <round-progress
                                                    max="max"
                                                    current="current"
                                                    color="{{ getColor()}}"
                                                    bgcolor="{{ bgColor}}"
                                                    radius="{{ radius}}"
                                                    semi="isSemi"
                                                    rounded="rounded"
                                                    stroke="{{ stroke}}"
                                                    clockwise="clockwise"
                                                    responsive="responsive"
                                                    duration="{{ duration}}"
                                                    animation="{{ currentAnimation}}"
                                                    offset="{{ offset}}"
                                                    animation-delay="{{ animationDelay}}"
                                                    on-render="showPrecisseCurrent"
                                                    ng-init="current = item.percentile">
                                            </round-progress>
                                        </div>
                                        <img ng-src="{{item.profile_image}}" alt="" style="width: 38px; height: 38px;" />
                                    </a>
                                </div>
                                <div class="profile-details">
                                    <a href="#/profile/{{item.user_id}}"><h4>{{item.name}}</h4></a>
                                    <h6>
                                        <span class="location">{{item.current_location}}</span>
                                    </h6>
                                </div>
                            </div>
                        </div><!--pull left-->
                        <div class="pull-right">
                            <ul>
                                <li>{{item.total_followers}} Followers</li>
                                <li ng-click="userFollow($event, item.user_id)" ng-if="item.user_own != 1">
                                    <a ng-if="item.user_follow == 0" class="cursor-pointer"><div>Follow</div></a>
                                    <a ng-if="item.user_follow == 1" class="cursor-pointer"><div>UnFollow</div></a>
                                </li>
                            </ul>
                        </div><!--pull right-->
                    </li>
                </ul>
            </div>
            <div style="position: relative; height: 50vh"  ng-if="isUser && getPostUserData.length === 0">
                <div   class="no-search-results">
                    <span class="sprite no-search-icons"></span>
                    <h4>No results found</h4>
                    <!--            <p>Your search did not match with any post. Refine your search criteria</p>
                                <a href="" class="btn-default">Search again</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="page-title-holder clearfix custom-height" ng-if="!isDesc && !searchurl && !isBookmark" ng-cloak>
        <div class="pull-left">
            <h3>Trending</h3>
            <div class="lists">
                <span ng-repeat="hash in getTrendingData">
                    <a ng-if="hash.trend_name.indexOf('#') != 0" ng-href="#/search/hashtag/{{hash.tag_name| lowercasenospace}}">#{{hash.tag_name}}</a>
                    <!--<a ng-href="/search/hashtag/{{hash.tag_name| lowercasenospace}}">#{{hash.tag_name}}</a>-->
                </span>
            </div>
        </div>
        <div class=" page-title">
            <!--        <h3>Collection</h3>-->
            <ul>
                <li ng-class="nearMe ? 'org-box' : 'wht-box'" class="nearMe" ng-click="getGeoFeeds(nearMe); nearMe = !nearMe"><span ng-class="nearMe ? 'orange-fill' : 'orange-nofill'"></span></li>
                <li class="main-menu on-clk">
                    <a href="" class="coll-btn" ng-click="fcClk($event)">Collections</a>
                    <div class="sub-menu fixed-width">
                        <div class="holder ">
                            <ul>
                                <li><div class="menu-arrow-top"></div></li>
                            </ul>
                            <!--<form action="javascript:;" ng-submit="Formsearch($event)" method="post">-->
                            <div class="search-holder">
                                <ul class="clearfix">
                                    <li ng-repeat="coll in getCollectionData track by $index">
                                        <!--<label for="" ng-click="searchClick($event);">-->
                                        <label for="">
                                            <a class="nopadding" ng-click="searchChash(coll.collection_api_name)">
                                                <img src="{{coll.collection_img}}" alt="" />
                                                <div class="overlay col-overlay"></div>
                                                <!--<input type="checkbox" id="checkbox1" class="ickecked">-->
                                                <span>{{coll.collectionname}}</span>
                                            </a>
                                        </label>
                                    </li>
                                    <li>
                                        <label for="" >
                                            <a class="nopadding" ng-click="searchChash('Sale')">
                                                <img src="/assets/pages/images/forsale.png" alt="" />
                                                <div class="overlay col-overlay"></div>
                                                <!--<input type="checkbox" id="checkbox1" class="ickecked">-->
                                                <span>Shop</span>
                                            </a>
                                        </label>
                                    </li>
                                </ul>
                            </div>

                            <!--</form>-->
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div  ng-if="!isDesc && !searchurl && !isBookmark" ng-cloak class="clearfix">
        <div class="posts-holder" id="postFeeds">
            <ul class="dynamic-grid grid postfeeds_flex in_timeline hidden-lg hidden-md promobottom">
                <li ng-repeat="item in getPromotedData| unique: 'post_id' |  filter:{ user_report: 0} track by $id($index)" class="posts wow " my-posts  on-finish-render="ngRepeatFinished"></li>
            </ul>
            <ul class="dynamic-grid grid postfeeds_flex in_timeline">
                <li ng-repeat="item in getPostData| unique: 'post_id' |  filter:{ user_report: 0} track by $id($index)" class="posts wow " my-posts  on-finish-render="ngRepeatFinished"></li>
            </ul>
            <div class="loadmore-relative"></div>
            <div class="loader ng-hide" ng-show="loadmore">
                <div id="loader">
                    <span></span>
                </div></div>
            <div class="no-search-results feeds-page" ng-show="getPostData.length == 0">
                <span class="sprite no-search-icons"></span>
                <h4>No Post feeds</h4>
            </div>
        </div>
        <div class="coll-holder">
            <ul class="collection-reward fixedscroll">
                <li class="posts" ng-if="getPromotedData != 0">
                    <h3 class="featured">Featured</h3>
                    <uib-carousel interval="5000"  active="active" >
                        <uib-slide ng-repeat="item in getPromotedData| unique: 'post_id' |  filter:{ user_report: 0}  track by $id($index)"  index="$index" on-finish-render="ngRepeatFinished">
                            <div my-posts></div>
                        </uib-slide>
                    </uib-carousel>
                </li>
            </ul>
        </div>
    </div>
</div>