// Button sizes
@mixin common-button($padding-vertical, $padding-horizontal, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  line-height: $line-height;
  border-radius: $border-radius;
}