// Button sizes
@mixin button-big($big-padding-vertical, $padding-horizontal, $line-height, $border-radius) {
  padding: $big-padding-vertical $padding-horizontal;
  line-height: $line-height;
  border-radius: $border-radius;
}