.social-fix .card .discription-holder .link a {
    text-align: center;
    display: inline-block;
    text-decoration: none!important;
    color: #ff9000;
}
#create-url.popup .uniq-url-hold .error{
    top:auto;
}
.profile-details-holder .profile-dp-details .dp-address .store-name h5 {
    max-width: 500px!important;
    width:auto!important;
    margin: 0 auto!important;
    text-align: center!important;
    line-height: 24px!important;
}
.card .like-comment-holder div.share-like {
    width: 50%!important;
}
header .menu.left .main-menu .sub-menu.show-add-img {
    left: 13px;
    top: 36px;
}
.holder ul.postfeeds_flex.grid li{
    flex: none !important;
}
.save{
    display:none;
}
.postdetails-holder .posts .card .image-holder .thumbnial-img a img{transform: scale(2);}
#contactInfo #umobile{
    width: 50%;
}
#contactInfo #errorphone {
    top: 89px;
    /*    font-size: 10px;*/
    left: 0;
    right: 0;
}
.postdetails-holder .premium-details-holder ul li:first-child {
    border-right: none!important; 
    width: 25%;
}
.postdetails-holder .premium-details-holder ul li:last-child {
    border-left: 1px solid #ccc;
}
.postdetails-holder .premium-details-holder ul li {
    width: 73%;
}
.postdetails-holder .premium-details-holder ul li:first-child {
    padding-right: 0px;
}
#loginPop{
    h3{
        margin: 0!important;
        padding: 36px 0px!important;
    }
    .lp .fb{
        font-family: sans-serif;
    }
    p{padding-bottom: 15px;}
    .popup{
        padding-bottom: 70px;
    }
}

.post-card-holder .loader{
    bottom: 0px !important;
}
#bookmarkWrap{position: relative;}
#bookmarkWrap .loader{
    width: 45px !important;
    height: 45px !important;
    bottom: -10px!important;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
#suggPost{
    .no-search-results{
        padding-top: 30px;
    }
}
.top-img{
    position: absolute!important;
    top: 0!important;
    left: 20px!important;
    img{
        width:auto!important;
    }
}
#followers.popup {
    padding: 24px 35px;
}
.fancybox-wrap #followers .card {
    max-height: none;
}
.fancybox-wrap #following .card {
    max-height: none;
}
#cont-div {
    height: 409px!important;
}
/*.fancybox-wrap .card{
    max-height: 0;
    transition: height 0.5s ease-in;
}*/
/*.fancybox-opened.fancybox-wrap .card{
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}*/
@media screen and (max-width:767px)

{
    #followers img{
        position: initial;
        top: auto;
        transform: initial;
        left: auto;
    }
    #bookmark-popup{
        max-width: 462px;
        text-align: center;
        padding: 33px 0px;
        ul{
            margin: 15px 0;
            li {
                float: none;
            }
        }
        .btnHolder button {
            padding: 18px 62px;
            width:auto;
        }
    }
    #otp{
        #errorphone1{
            top: 92px;
        }
    }
    .reward-margin{
        margin-top: 54px;
        padding-bottom: 0;
    }
    #change-mob-no {
        max-width: 292px;
        #countrycode1{
            width: 38%;
        }
        #mobile1{
            width: 50%;
        }
        #errorphone2{
            top: 97px;
            left: 0;
            right: 0;
            font-size: 10px;
            text-align: center;
        }
        #errorphone1 {
            top: 95px;
        }
    }
    #contactInfo{
        #countrycode{
            width: 42%;
        }
        #erroremail {
            top: 91px;
            font-size: 10px;
        }
        #errorloc {
            top: 97px;
            font-size: 10px;
        }
        #errorphone {
            /*top: 8px;*/
            font-size: 10px;
        }
    }
    .holder .grid.promobottom {
        margin-bottom: 0;
    }
    .postdetails-holder .posts .card .image-holder .thumbnial-img a{
        border:none;
    }
    .page-title{
        right: 15px;
    }
    .holder #bookmarkWrap ul.postfeeds_flex.grid.in_timeline li{
        flex: 1 0 0 !important;
    }
    #banner-carosel{
        max-width:initial;

    }
    .holder .grid li a img {
        margin-top: 1px;
        vertical-align: middle;
    }
    #create-url {
        text-align: center;
        max-width: 500px!important;
        min-width:auto!important;
        margin: 0 auto;
    }
    #create-url.popup button {
        width: 263px;
    }
    div#urlerror {
        top: 31px;
    }
    .lp footer .social-links li{
        vertical-align: middle;
    }
    #leader-board .card .profile-holder, .fancybox-wrap #leader-board .card .profile-details{
        width: 42px;
        .sprite.percentile-icon{
            margin-right: 8px;
            display: inline-block; 
            margin: 0 auto; 
            margin-bottom: 0px; 
            width:24px;
            height:25px;
        }
        .sprite.gift {
            vertical-align: middle;
            display: inline-block; 
            margin-bottom: 0px!important; 
        }
        .reward-pts {
            vertical-align: middle;
            margin-left: 10px;
        }
        h4 {
            margin-top: 10px;
            white-space: initial;
        }
    }
    .fancybox-prev span, .fancybox-next span{
        background-size: initial!important;
    }
    .list-group .post-sec .post-right .desc{
        width:178px;
    }
    .btndiv.left-align{
        button {
            margin-left: 6px;
            padding: 12px 22px;
        }
    }
    .social-fix .card .like-comment-holder.like-icon div.share-like{width:auto!important;}
    .social-fix .container-medium .postdetails-holder ul li .card .discription-holder .like-comment-holder div.pull-right {
        display: inline-block;
        font-size: 12px;
    }
    .social-fix .sprite.message-icon {
        top: 10px;
        margin-right: -34px;
    }
    .social-fix .likes-comments span{font-size: 12px;}
    .social-fix .sprite.bookmark-icon{margin-right: 0;}
    .social-fix .container-medium .postdetails-holder ul li .card .discription-holder .like-comment-holder div.pull-right .bookmark-sec {
        display: inline-block;
        width: auto;
    }
    .social-fix .share-align{
        display:inline-block;
        vertical-align: middle;
    }
    /*    .postdetails-holder .posts .card .image-holder .thumbnial-img a img{
            height:100%;
        }*/
    .page-title .main-menu .sub-menu .search-holder .list-align li {
        margin-right: 7px!important;
        width: 47%!important;
    }
    .filter-div-sec .forSale {
        float: left!important;
    }

    .subs .error{top:auto;margin-bottom: 4px;font-size: 10px;}
    .lp .next-banner {
        right: -15px !important;
    }
    .new
    {
        display: block!important;

    }
    .firstsec-cont h1 {
        font-size: 28px;
        line-height: 30px;
    }
    #banner-carosel .owl-item {
        /*        width: auto !important; 
                margin-right: 0px; */
    }
    .firstsec-cont h5{
        line-height: 22px;
    }
    .lp .slider .item .post-head{
        text-align: center;
    }
    .lp .happystry-info-section {

    }
    .lp .happystry-info-section h2{
        line-height: 20px;
        padding:0px 12px;
    }
    .lp footer .quick-links {
        margin-top: 0px;
        float: none;
        text-align: center;
    }
    .lp footer .social-links{
        display: block;
        text-align: center;
        float:none;
    }
    .lp footer .social-links li {
        text-align: center;
        border: 1px solid #ccc;
        border-right: 1px solid #ccc; 
        margin-right: -6px;
    }
    .lp .subscribe-section .subs .subs-submit{
        height: 36px;
        padding: 0px; 
        font-size: 12px;
    }
    .lp .subscribe-section .subs .subs-email {
        height: 36px;
        font-size: 12px;
        padding: 0px 20px;
    }
    .slider-content p{
        font-size: 30px;
        width: auto; 
        text-align: center;
        line-height: 32px;
        margin-bottom: 0px; 
    }
    .collection-reward{
        display:none;
    }
    .posts .card .header-hold .profile-holder a{
        display:inline-block;
    }
    .posts .card .header-hold .profile-holder a .progress-wrapper .round-progress-wrapper{
        position: initial !important;
        top: auto; 
        left: auto; 
        width: 40px!important;
        height: 40px;
    }
    .card .header-hold .profile-holder a img {
        border: 2px solid #fff;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        left: 50%;
        width: 36px!important;
        height: 36px!important;
    }
    .uniqueUrl h4 a {
        width: 302px;
        word-break: break-word;
    }
    .profile-info-strip ul li div h4 span.percentile {
        position: initial;
    }
    .profile-info-strip ul li div h4 span.percentile div.progress-wrapper {
        display: none;
    }
    .header-hold.commentSection.new-comment-hold {
        padding: 10px 34px 14px;
    }
    .header-hold.commentSection.new-comment-hold .comments {
        margin-left: 36px!important;
    }
    .header-hold.commentSection.new-comment-hold .profile-details h4 {
        padding-left: 20px;
    }
    .list-group .card .header-hold {
        padding: 16px 23px!important;
    }
    #error_shopname {
        top: 106px;
    }
    #error_address1 {
        top: 131px;
    }
    #error_country {
        top: 92px;
    }
    #error_state {
        top: 92px;
    }
    #error_city {
        top: 92px;
    }
    #error_pin {
        top: 92px;
    }
}
@media screen and (max-width:479px){
    .postdetails-holder .posts .card .image-holder .thumbnial-img a{
        height: 45px;
    }
    #leader-board .card .profile-details {
        padding-left: 8px;
    }
    #leader-board .card .profile-holder.second {
        width: 40% !important;
    }
    .card .profile-details h6 .location.post-det-loc {
        width: 135px;
    }
    .header-hold.commentSection.new-comment-hold .profile-details h6 {
        width: 36%!important;
    }
    .crop_continue{
        width: 100px!important;
        font-size: 9px!important;
    }
    .crop_cancel{
        width: 100px!important;
        font-size: 9px!important;

    }
    #followers{
        max-width: 300px!important;
        .card .profile-details h4{
            width: 63px;
        }
        &.follow {width:auto;}
        width: auto;
    }

    #followers .card .header-hold {
        padding: 10px 16px 14px;
        position: relative;
    }
    #followers .card .header-hold .profile-holder a img {
        left: 5px;
    }
    #followers.follow .card .header-hold .transbutton a div{
        width: auto;
        padding: 10px 4px;
        font-size: 12px;
    }
    #following{
        max-width: 300px!important;
        .card .profile-details h4{
            width: 63px;
        }
        &.follow {width:auto;}
        width: auto;
    }

    #following .card .header-hold {
        padding: 10px 16px 14px;
        position: relative;
    }
    #following .card .header-hold .profile-holder a img {
        left: 5px;
    }
    #following.follow .card .header-hold .transbutton a div{
        width: auto;
        padding: 10px 4px;
        font-size: 12px;
    }
    .sprite.bookmark-icon-active{margin-right:0;}
    .holder #bookmarkWrap ul.postfeeds_flex.grid.in_timeline li {
        width: 100%!important;
    }
    div#video iframe {
        max-width: 280px;
    }
    .banner-slider-holder .item {
        text-align: center;
    }
    #banner-carosel .owl-item {
        max-width: none;
        margin: 0 auto;
    }
    #banner-carosel .owl-item .item .news-content{
        max-width: 213px;
        margin: 0 auto;
    }
    .report {
        max-width: 276px!important;
    }
    .profile-section .fieldholder .code-mob .pop-inp-num-wel {
        width: 54%;
    }
    #contactInfo {
        max-width: 320px;
        padding: 10px;
    }
    .pop-header figure{
        display: block;
        margin: 0 auto
    }
    .pop-header div {
        display: block;
        text-align: center;
        margin-left:0;
        margin-top:0;
    }
    .holder ul.postfeeds_flex.grid.in_timeline li {
        width: 100%!important;
        padding: 10px 15px;
    }
    .card{margin: 0px auto;}
    .page-title {
        position: absolute;
        /*        right: 0;*/
        top: 10px;
        /*left: 0;*/
        text-align: center;
        .main-menu{display:inline-block!important;}
    }
    .page-title-holder .lists{display:none;}


    .page-title .main-menu .sub-menu.fixed-width{
        width: 297px;
        /*        padding: 20px 10px;*/
    }
    page-title .main-menu .sub-menu .search-holder ul li {
        margin-right: 0!important;
        width: 43%;
        margin-left: 15px!important;
    }
    /*    .page-title .main-menu .sub-menu{
            left:-117px;
        }*/
    .holder ul.postfeeds_flex.grid.in_profile li{
        width: 100%;
        max-width: 100%!important;

    }
    .holder ul.postfeeds_flex.grid.in_postdetails li {
        width: 100%;
        max-width: 100%;
    }
    .holder #searchCH ul.postfeeds_flex.grid.in_timeline li {
        width: 100%;
    }
    /*    .postdetails-holder .posts .card .image-holder .thumbnial-img a img {
            height: 100%;
        }*/
    .postdetails-holder .premium-details-holder ul li:first-child {
        border-right: none !important;
        width: 43%;
        padding-right: 0;
        vertical-align: top;
    }
    .postdetails-holder .premium-details-holder ul li:last-child {
        width: 54%;
        vertical-align: top;
    }
    .postdetails-holder .premium-details-holder ul li span{
        line-height: 17px;
        font-size: 12px;
    }
    .postdetails-holder .premium-details-holder ul li span.amount i{
        font-size: 12px;
    }
    .postdetails-holder .premium-details-holder ul li h5{
        margin-bottom: 4px;
    }
    .userData li .header-hold .profile-holder a .progress-wrapper .round-progress-wrapper {
        top: 12px;
    }

}
@media (min-width:600px) and (max-width:960px){

    #banner-carosel{
        max-width:460px;
        margin: 0 auto;
    }
    #following img {
        position: initial;
        top: auto;
        transform: initial;
        left: auto;
    }
    #followers img {
        position: initial;
        top: auto;
        transform: initial;
        left: auto;
    }

}
@media (min-width:480px) and (max-width:767px){
    #report-post{
        max-width: 436px;
    }

    .card .profile-details h6 .location.post-det-loc {
        width: 292px;
    }
    .holder #bookmarkWrap ul.postfeeds_flex.grid.in_timeline li {
        width: 50%!important;
        flex: none!important;
    }
    .holder ul.postfeeds_flex.grid.in_timeline li {
        width: 50%!important;
    }
    .holder ul.postfeeds_flex.grid.in_profile li{
        max-width: 50%!important;
        width: 50%;
    }
    .holder ul.postfeeds_flex.grid.in_postdetails li {
        width: 50%;
        max-width: 50%;
    }
    .holder #searchCH ul.postfeeds_flex.grid.in_timeline li {
        width: 50%;
    }
    div#video iframe {
        max-width: 439px;
    }
    .postdetails-holder .premium-details-holder ul li:first-child {
        width: 41%;
        padding-right: 0;
        vertical-align: top;
    }
    .postdetails-holder .premium-details-holder ul li {
        width: 44%;
        vertical-align: top;
    }
    .postdetails-holder .premium-details-holder ul li span{
        line-height: 18px;
    }
    .postdetails-holder .posts .card .image-holder .thumbnial-img a{
        height: 65px;
    }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1400px) { 
    /*    .fancybox-inner {
            overflow-y: hidden!important;
        }*/
}
@media screen and (min-device-width: 993px) and (max-device-width: 1200px) { 
    #banner-carosel{
        max-width:1000px;

    }
}
@media (min-width:768px) and (max-width:992px){
    div#video iframe {
        max-width: 727px;
    }
    .holder ul.postfeeds_flex.grid.in_timeline li {
        width: 33.33%!important;
    }
    .posts-holder{
        padding: 0px 22px;
        margin-right: 0;
    }
    .container-sad .row{
        margin-left: 0;
        margin-right: 0;
    }
    #banner-carosel{
        max-width:800px;

    }
}

.container-sad {
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container-medium {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

